[Desktop Entry]
Encoding=UTF-8
Name=PrimeStone
Comment=PrimeStone P2P Cryptocurrency
Exec=primestone-qt %u
Terminal=false
Type=Application
Icon=primestone128
MimeType=x-scheme-handler/primestone;
Categories=Office;Finance;
Name[en_US]=primestone-qt.desktop
